.header{
    color: var(--text-color);
    background-color: var(--background-color);
}
.logo{
    width: 7%;
}
.logoName{
    text-decoration: none;
    font-size: 1.2em;
    color: var(--text-color);
    padding: 0 15px;
}
.Button{
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.7rem;
}
.NavbarList{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ThemeButton{
    background-color: var(--background-color);
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.7rem;
}
.ThemeButton i{
    color: var(--icon-color);
    background-color: var(--background-color);
}

@media screen and (max-width: 460px) {
    .logo{
        width: 10%;
    }
    .logoName{
        text-decoration: none;
        font-size: 0.6em;
        color: var(--text-color);
        padding: 0 5px;
    }
    .Button{
        padding: 0.3rem 0.6rem;}
    
}