.filter{
    width: 100%;
    padding: 20px 10px;
    color: var(--text-color);
}
.Button{
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.7rem;
}

@media screen and (max-width: 460px) {
    .Button{
        padding: 0.3rem 0.6rem;}
}